* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 100px;
  background-image: url(./header-bg.jpg);
  background-color: grey;
}
.logo {
  width: 94px;
  height: 94px;
  margin-left: -60px;
}
.basket {
  width: 69px;
  height: 69px;
  margin-right: 20px;
}
.acount {
  width: 69px;
  height: 69px;
}
.dormitory {
  width: 118px;
  height: 118xp;
}
.nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.nav:hover {
  text-decoration: underline;
}
.basket-accont {
  margin-right: -90px;
}

/* main */
main {
  background-image: url(./main.bg.jpg);
  padding-bottom: 50px;
}
.main-header {
  display: flex;
  justify-content: center;
}
.main-header img {
  width: 30%;
  height: 30%;
}
.main-dscr {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  font-variant: small-caps;
  color: #f3f1e3;
  text-align: center;
  margin-top: 10px;
}
.description {
  margin-top: 50px;
  color: white;
  margin-left: 206px;
}
.main-photo {
  width: 102px;
  height: 102px;
}
.main-delivery-speed img {
  margin-left: -15px;
  margin-top: 10px;
}
.main-food-sharing img {
  margin-left: -10px;
}
.main-text {
  display: inline-block;
  margin-top: -100px;
  margin-left: 20px;
  text-align: left;
  vertical-align: middle;
}
.test {
  margin-left: 110px;
}
.main-text-h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #e7b127;
  margin-bottom: 10px;
}
.main-text-p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #acacac;
}
.btn {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 30px;
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.25em 0.5em;
  outline: none;
  border: 1px solid rgb(250, 172, 17);
  border-radius: 7px;
  background: rgb(255, 212, 3)
    linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0),
    inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  transition: box-shadow 0.2s, border-color 0.2s;
}
a.btn:hover {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0),
    inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0.5);
}
a.btn:active {
  padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
  border-color: rgba(177, 159, 0, 1);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(255, 255, 0, 0.45);
}

.space {
  position: absolute;
  width: 950px;
  height: 60px;
  left: 250px;
  top: 430px;
  z-index: 1;
  padding: 20px 30px;
  background-color: #0c0c0c;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #ffffff;
}
.saturn {
  position: absolute;
  width: 950px;
  height: 60px;
  left: 250px;
  top: 531px;
  z-index: 1;
  padding: 20px 30px;
  background-color: #0c0c0c;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #ffffff;
}
.uran {
  position: absolute;
  width: 950px;
  height: 60px;
  left: 250px;
  top: 632px;
  z-index: 1;
  padding: 20px 30px;
  background-color: #0c0c0c;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #ffffff;
}
.neptun {
  position: absolute;
  width: 950px;
  height: 60px;
  left: 250px;
  top: 733px;
  z-index: 1;
  padding: 20px 30px;
  background-color: #0c0c0c;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #ffffff;
}

.space:hover,
.space:focus {
  background-color: #1e1e1e;
}
.uran:hover,
.uran:focus {
  background-color: #1e1e1e;
}
.neptun:hover,
.neptun:focus {
  background-color: #1e1e1e;
}
.saturn:hover,
.saturn:focus {
  background-color: #1e1e1e;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-left: 155px;
  margin-top: 61px;
}
.ava {
  width: 101px;
  height: 101px;
  margin-left: 77.5px;
  margin-top: -2px;
}
.prof {
  width: 101px;
  height: 101px;
  margin-left: 77.5px;
  margin-top: -1px;
}
.targ {
  width: 101px;
  height: 101px;
  margin-left: 77.5px;
  margin-top: 0px;
}

.message {
  color: white;
  margin-left: 350px;
  margin-top: 65px;
}
/* footer */

footer {
  background-image: url(./header-bg.jpg);
  height: 100px;
  display: flex;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.feedback {
  font-size: 20px;
}
.feedback a {
  display: inline-block;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
}
.footer-dscr h4 {
  font-size: 25px;

  text-align: center;
}
.footer-dscr h2 {
  font-size: 35px;
  justify-content: center;
  text-transform: uppercase;
}
.social_footer a {
  color: black;
  font-size: 20px;
  padding: 10px;
}

/*food sharing*/

.foodsh {
  padding-top: 50px;
  color: white;
  display: flex;
}
.foodsh img {
  width: 120px;
  height: 120px;
  margin-left: 300px;
}
.foodsh p {
  padding-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {
  padding: 50px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #e9eff6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
.form-inner textarea {
  resize: none;
}
.form-inner h3 {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
.main-haeder-food h2 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #e7b127;
}
.main-haeder-food p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 900px;
  margin-left: 300px;
  padding-top: 10px;
}
.foodsh-dscr p {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #e7b127;
  text-align: center;
  padding-top: 20px;
}
.foodsh div {
  font-style: italic;
  font-size: 35px;
}
